language: php

sudo: required

php:
  - 8.2
  - 8.3
  - 8.4
  - 8.5

install:
  - ./travis-install.sh
  - travis_retry composer install --no-interaction

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

script:
  - phpunit --no-coverage
